html
	head
		style.
			a1 {
				color: 	#FF0000;
			}
			.button2 {
				float: left;
				padding: 4px 10px;
				text-align: center;
				font-size: 12px;
				background-color: #0000FF;
				color: white;
			} 
			.button3 {
				padding: 10px 10px;
				text-align: center;
				font-size: 20px;
				background-color: #0000FF;
				border-radius: 7px;
				color: white;
			} 