html
    head
        title Home
body
    include ../partials/header
h1 Hey there!

h5 Welcome To My Search engine
h5 We are Happy that you are trying to use our services
h5 We currently offer two services. Search for a pokemon charcter. Aswell 
h5 search for a variaty of fruits. We hope that you do enjoy your visit! And as always we hope that you have a great day 

h5 Chose one of the two following <a href="http://localhost:3000/fruits">Fruits</a> OR <a href="http://localhost:3000/personal">Pokemon</a>
    </form>